.cover{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  background-image: url(../../images/cover__image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover::after{
  content: "";
  width: 0;
  height: 0;
  margin-left: -1px;
  padding-top: calc(740 / 1184 * 100%);
}


@media screen and (min-width: 766px) and (max-width: 1023px){
}