.cover{
  display: flex;
  margin: 66px 0;
  background-image: url(../../images/cover__image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
}

.cover::after{
  content: "";
  width: 0;
  height: 0;
  padding-top: calc(740 / 1184 * 100%);
}
