.cover__title{
  margin: 0;
  font-family: Inter;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  

}

@media screen and (min-width: 766px) and (max-width: 1023px){
}