.place{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 766px){
  .place{
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content(1fr) max-content(1fr); 
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .place{
    gap: 32px;
  }
}

@media screen and (min-width: 1280px){
  .place{
    gap: 40px;
  }
}