div, h1, h2, h3, h4, h5, h6, p, section, body, header, img, a, footer{
  border: 1px solid red;
}

.page{
  min-width: 320px;
  max-width: 767px;
  margin: 0 auto;
  font-family: Inter;
  background-color: #2A2C2F;
  color: white;
}

.header{
  width: 1fr;
  height: 54px;
  display: flex;
  flex-direction: row;
  margin: 16px 16px 0px;
  justify-content: flex-start;
}

.header__logo{
  display: flex;
  justify-content: flex-start;
  margin: 0;

}

.header__lang-link{
  justify-self: flex-end;
  margin: 0;
  align-self: center;
  color: aliceblue;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  text-decoration-line: underline;
}

.header__lang-link_language_ru{
  margin-top: 14px;
  margin-left: auto;
  margin-right: 18px;
}

.header__lang-link_language_en{
margin-top: 14px;
text-decoration: none;
}

.lead{
  width: 1fr;
  margin: 0;
  margin-top: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lead__title{
  margin: 0 16px;
  width: 1fr;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}

.lead__subtitle{
  width: 1fr;
  margin: 16px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.lead__image{
 width: 1fr;
 margin: 0;
 margin-top: 40px;
 object-fit: cover;
}

.lead__caption{
  margin: 0;
  margin-top: 8px;
  margin-left: 16px;
  align-self: start;
  width: 1fr;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.intro{
  width: 1fr;
  margin: 64px 16px 0; 
  display: flex;
  flex-direction: column;
}

.intro__title{
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
}

.intro__text{
  margin: 0;
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

.intro__list{
  list-style: none;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  margin-top: 34px;
}

.photo-grid{
  width: 1fr;
  margin: 64px 16px 0;
  display: grid;
  gap: 12px;
  grid-template-rows: repeat(auto-fit, fit-content(1fr));
}

.places{
  width: 1fr;
  margin: 0;
  margin-top: 64px;
  display: grid;
  gap: 49px;
  grid-template-rows: repeat(auto-fit, fit-content(1fr));
}

.place{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place__title{
  width: calc(100% - 32px);
  margin: 0 16px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
}

.place__image{
  margin: 0;
  margin-top: 32px;
}

.place__paragraph{
  margin: 32px 16px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

.place__paragraph:nth-of-type(2){
  margin-top: 25px;
}

.cover{
  background-image: url(../images/cover__image.png);
  height: 1fr;;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 66px;
}

.cover__title{
  margin: 33px 16px 0;
  padding: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
}

.cover__subtitle{
  margin: 16px 16px 0;
  padding: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}


.footer{
  width: 186px;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-left: 16px;
  margin-bottom: 24px;

}

.footer__menu{
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__link{
  margin: 0;
  margin-bottom: 32px;
  color: white;
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}

.footer__copyright{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-top: 48px;
}